* {
  box-sizing: border-box;
  

}
.container{
  background-color:goldenrod;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  background-color:black;
  font-size: 20px;
  
}
.row{
  color:black;
  padding:10px
}
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 40%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 200px;
  padding: 20px;
}
.img{
  width: 50px;
}
/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 40px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-gmail {
  background: #430297;
  color: white;
}
.fa-github {
  background: #00aff0;
  color: white;
}
.fa-google {
  background: orangered;
  color: white;
}
.fa-thumbs-up{
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}
.fa-thumbs-up:hover {
  color: darkblue;
}
h1{
  font-size: 200;
  color: darkolivegreen;
  
}
.wow{
 flex: inline;
  
}
.widget_blog_subscription {
	display: block;
	margin: 50px auto;
	width: 60%;
	max-width: 490px;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	background-color: #F6F6F2;
}
.widget_blog_subscription p {
	margin: 0;
	text-align: center;
}
.widget_blog_subscription p:first-child {
	margin: 40px 15px 0;
	color: #F38630;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
}
.widget_blog_subscription input[type="text"] {
	margin: 45px 30px;
	color: #999;
	padding: 25px 15px !important;
	text-align: center;
	width: 100% !important;
	max-width: calc(100% - 90px);
	outline: none;
	border: 0;
	text-transform: uppercase;
	font-size: 12px;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
	color: #69D2E7;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
	color: #69D2E7;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
	color: #69D2E7;
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
	color: #69D2E7;
}
.widget_blog_subscription input[type="submit"] {
	margin: 0;
	background-color: #69D2E7;
	color: #fff;
	padding: 25px 15px !important;
	text-align: center;
	width: 100%;
	max-width: 100%;
	outline: none;
	border: 0;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	-webkit-transition: .1s all ease-in-out;
	-moz-transition: .1s all ease-in-out;
	-o-transition: .1s all ease-in-out;
	transition: .1s all ease-in-out;
}
.widget_blog_subscription input[type="submit"]:hover {
	background-color: #F38630;
}