{%extends 'base.html'%}
{% load bootstrap3 %} {% load static %}

{% block content %}
<html>

<head>
  <meta charset="utf-8">
  <title>Blog!
  </title>
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>Queens'Blog</h2>
    </div>


    <div class="leftcolumn">
      <div class="card">
        {% for post in posts %}
        <h1>{{post.title}}</h1>
        <a href="post_list/{{blog.id}}" href="detail.html">
          <img style="height:250px; width:400px; border-radius:5px; margin-left:15px; margin-right: 15px; margin-bottom: 30px"
            src="{{post.blog.url}}" class="img-rounded" alt="Image" data-toggle="modal"><br>
        </a>
        <p>{{post.date}}</p>
        <p>{{post.description}}</p>
        <p>{{post.author}}</p>
        {% empty %}
        <h3 class="text-center">There are No Images</h3>
        {% endfor %}
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-github"></a>
    <a href="#" class="fa fa-google"></a>
  </div>

  </div>
</body>

</html>
{% endblock %}