<nav class="navbar navbar-inverse" style="background-color:goldenrod">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:black" href="{% url 'home' %}">Y-Blog</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" style="color:black;padding-left:150px;" href="{% url 'view_profile' %}">About-Me</a>
    </div>
    <div class="navbar-header">
      <a href="https://www.facebook.com/Kabengera Queen" class="fa fa-facebook"></a>
      <a href="https://www.linkedin.com/uwitonze queen" class="fa fa-linkedin"></a>
      <a href="https://www.instagram.com/kabengeraqueen" class="fa fa-instagram"></a>
      <a href="https://github.com/Queen-Uwitonze" class="fa fa-github"></a>
    </div>
    <div class="container-fluid">
    </div>
  </div>
  </div>
</nav>