{%extends 'base.html'%}
{% load bootstrap3 %} {% load static %}

{% block content %}
<div class="card">

  <div class="img">
    <h3>Popular Post</h3>
    {% for post in posts|dictsortreversed:"id"|slice:"5" %}
    <h1>{{post.title}}</h1>
    <a href=""></a><img style="height:250px; width:400px; border-radius:5px; margin-left:15px; margin-right: 15px; margin-bottom: 30px"
      src="{{post.blog.url}}" class="img-rounded" alt="Image" data-toggle="modal"><br>

    {% empty %}
    <h3 class="text-center">There are No Images</h3>

    {% endfor %}
  </div><br>
</div>
{% endblock %}